# Lab | Customer Analysis Round 6

## Complete the following tasks

Processing Data

(Further processing...)

   * X-y split. (done in previous lab)
   * Normalize (numerical). (done in previous lab)
   * One Hot/Label Encoding (categorical).
   * Concat DataFrames

In [1]:
import pandas as pd
import numpy as np

#importing the typical libraries

In [2]:
data = pd.read_csv("marketing_customer_analysis.csv")
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
#decided to reindex the Total Claim Amount as the last feature cause it satisfies my OCD 
data = data[['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel',
       'Vehicle Class', 'Vehicle Size', 'Total Claim Amount']]

In [4]:
numerical = data.select_dtypes(include='number') #separating the numerical and the categorical variables (from a previous lab)
categorical = data.select_dtypes(include='object')

In [5]:
X = data.iloc[:, :-1] #X y split on  the entire data
y = data.iloc[:, -1]

In [6]:
X = pd.get_dummies(X, drop_first=True) #encoding the categorical variables
X
#I wonder if having so many (9241) features can be a potential issue especially if there's multicollinearity between them.

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Customer_AA11235,Customer_AA16582,Customer_AA30683,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,2763.519279,56274,69,32,5,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,6979.535903,0,94,13,42,0,8,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,12887.431650,48767,108,18,38,0,2,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,7645.861827,0,106,18,65,0,7,0,0,0,...,0,1,0,0,0,1,0,0,1,0
4,2813.692575,43836,73,12,44,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,0,0,0,...,0,0,1,0,0,0,0,0,1,0
9130,3096.511217,21604,79,14,28,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9131,8163.890428,0,85,9,37,3,2,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9132,7524.442436,21941,96,34,3,0,3,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9133,2611.836866,0,77,3,90,0,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [7]:
#In the beginning I standardized the variables here but after seeing that we have to perform train-test splits I think it makes more sense to standardize the data then.

Note: I am not sure which frames I'm supposed to concat. Should I have preproccesed the numerical and categorical variables seperately and then concat them? This is still unclear to me. :(

Linear Regression

   * Train-test split.
   * Apply linear regression.

In [8]:
from sklearn.model_selection import train_test_split #applying train-test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=0)

In [9]:
X_test

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Customer_AA11235,Customer_AA16582,Customer_AA30683,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
2182,5592.455266,62229,70,13,26,0,5,0,0,0,...,0,0,0,0,0,0,0,1,1,0
7823,2317.282049,0,68,10,81,0,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0
1651,9540.923395,53351,119,4,7,0,6,0,0,0,...,1,0,0,0,0,0,0,0,0,1
888,8581.278701,27689,239,0,72,2,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
3844,4229.923123,0,126,15,45,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7464,8343.751519,64127,71,31,19,0,2,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3752,8828.933996,86721,110,20,99,1,3,0,0,0,...,0,0,0,0,0,0,0,1,1,0
593,4016.541995,0,111,4,85,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
226,5159.369746,0,74,2,42,0,9,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3207,8491.020256,62076,71,25,82,0,2,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [10]:
X_train #sanity checks

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Customer_AA11235,Customer_AA16582,Customer_AA30683,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
1461,14082.639180,0,102,17,91,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2521,8133.157212,32021,70,12,58,0,2,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9031,2933.498052,0,78,22,98,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
5045,2217.664193,0,65,11,69,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4987,14019.833140,31739,71,10,29,0,2,0,0,0,...,0,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4373,7786.676381,83000,97,29,76,1,6,0,0,0,...,1,0,0,0,0,0,0,0,0,1
7891,4995.171200,10787,71,33,25,0,8,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4859,8114.409136,30595,69,22,36,0,2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3264,12904.943360,27778,109,30,14,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2732,7664.219255,60184,199,7,44,1,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0

In [11]:
from sklearn.preprocessing import StandardScaler #normalizing the explantory train+test variables
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [12]:
X_train #sanity check to see if they turned into arrays

array([[ 0.86624454, -1.23743619,  0.25280178, ..., -0.51611803,
        -1.54112223, -0.48812365],
       [ 0.01155707, -0.1843032 , -0.66770282, ..., -0.51611803,
        -1.54112223,  2.04866122],
       [-0.73541277, -1.23743619, -0.43757667, ..., -0.51611803,
         0.6488778 , -0.48812365],
       ...,
       [ 0.00886377, -0.23120266, -0.69646859, ..., -0.51611803,
         0.6488778 , -0.48812365],
       [ 0.69705975, -0.32385047,  0.45416216, ..., -0.51611803,
        -1.54112223, -0.48812365],
       [-0.05580937,  0.74194472,  3.04308135, ..., -0.51611803,
         0.6488778 , -0.48812365]])

In [13]:
y_train

1461    734.400000
2521    336.000000
9031    398.421636
5045    111.872115
4987    469.882367
           ...
4373    378.556600
7891    697.798804
4859    446.084760
3264    523.200000
2732    161.615740
Name: Total Claim Amount, Length: 7307, dtype: float64

In [14]:
from sklearn.linear_model import LinearRegression #applying linear regression
regressor = LinearRegression() 
regressor.fit(X_train, y_train)

LinearRegression()

In [15]:
regressor.coef_ #checking the coeffecients of the regressor

array([-2.80025038, -9.82121108, 60.38631155, ..., -6.87713239,
       -6.7464869 ,  5.83484444])

Model Validation

   * Description:
       * R2.
       * MSE.
       * RMSE.
       * MAE.

In [16]:
#to get a general idea of how our model performs:

In [17]:
print(" Score of Train : {}\n Score of Test : {}".format(regressor.score(X_train, y_train), regressor.score(X_test, y_test)))

 Score of Train : 1.0
 Score of Test : 0.5894603194410254

In [18]:
#We see a huge difference between train and score here.

In [19]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score


y_pred = regressor.predict(X)

r2 = r2_score(y, y_pred)
mse = mean_squared_error(y, y_pred, squared=True)
rmse = mean_squared_error(y, y_pred, squared=False)
mae = mean_absolute_error(y, y_pred)

print("R2_score:", r2)
print("MSE:", mse)
print("RMSE:", rmse)
print("MAE:", mae)

C:\Users\lazar\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

R2_score: -2834588.419081675
MSE: 239185671745.85898
RMSE: 489066.122059031
MAE: 386743.1609951521

In [20]:
# running the code for different metric below I got this warning: 
#X has feature names, but LinearRegression was fitted without feature names
#I think I need to dummify X first
X = pd.get_dummies(X, drop_first=True)
X=sc_X.fit_transform(X)

In [21]:
#let's try again 

y_pred = regressor.predict(X)

r2 = r2_score(y, y_pred)
mse = mean_squared_error(y, y_pred, squared=True)
rmse = mean_squared_error(y, y_pred, squared=False)
mae = mean_absolute_error(y, y_pred)

print("R2_score:", r2)
print("MSE:", mse)
print("RMSE:", rmse)
print("MAE:", mae)

R2_score: 0.9133178816231047
MSE: 7314.329395559766
RMSE: 85.52385278715971
MAE: 37.371838841679605